<!Doctype html>
<html lang = "en">
    <head>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
        <meta name="viewport" content = "width = device-width, initial-scale = 1">
        <meta charset="UTF-8">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
        {%block script%}
        {%endblock%}
    </head>
    <body>
        <nav class ="navbar navbar-expand-lg bg-body-tertiary">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">TruckTrack</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#Content" aria-controls="Content" aria-expanded="false">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class ="collapse navbar-collapse" id ="Content">
                    <ul class="navbar-nav ">
                        {% if user.is_authenticated%}
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">  
                            Currency
                            </a>
                            <ul class="dropdown-menu">
                              <li><a class="dropdown-item" href="?currency=USD">Dollars</a></li>
                              <li><a class="dropdown-item" href="?currency=EUR">Euro</a></li>
                              <li><a class="dropdown-item" href="?currency=UAH">Hryvnia</a></li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class ="nav-link" href="/">Orders</a>
                        </li>
                        <li class="nav-item">
                            <a class ="nav-link" href="{% url 'neworder' %}">New order</a>
                        </li>
                        <li class="nav-item">
                            <a class ="nav-link" href="{% url 'profile' id=user.id %}">Homepage</a>
                        </li>
                        <li class="nav-item">
                            <a class ="nav-link" href="{% url 'myorders'%}">Tasks</a>
                        </li>
                        <li class="nav-item">
                            <a class ="nav-link" href="{% url "chat" %}">Chat</a>
                        </li>
                        <li class="nav-item">
                            <a class ="nav-link" href="{% url "logout" %}">Log out</a>
                        </li>
                        {%else%}
                        <li class="nav-item">
                            <a class ="nav-link" href="{% url "login" %}">Log in</a>
                        </li>
                        <li class="nav-item">
                            <a class ="nav-link" href="{% url "register" %}">Sign up</a>
                        </li>
                        {%endif%}
                    </ul>
                </div>
            </div>
        </nav>
        {%block body%}
        {%endblock%}
    </body>
</html>